<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>ポモドーロを記録するためにアクセスが必要です。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>ポモドーロを記録するためにアクセスが必要です。</string>
	<key>NSRemindersUsageDescription</key>
	<string>ポモドーロを実行するタスクを選ぶために必要です。</string>
</dict>
</plist>
